@font-face {
  font-family: 'GamestationCond';
  src: url('/static/fonts/GamestationCond.otf') format('truetype');
}

/* Reset e Estilos Globais */
:root {
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --danger-color: #e74c3c;
  --success-color: #2ecc71;
  --text-color: #333;
  --light-gray: #f5f5f5;
  --border-color: #ddd;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at center, #1a1a1a, #000);
  color: #fbd300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
//Visual Login
form {
  background-color: #111;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 15px auto;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fbd300;
  color: #111;
  font-family: 'GamestationCond', sans-serif;
  font-size:  25px;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 2px;
  z-index: 999;
}

input[type="email"],
input[type="password"] {
  font-family: 'GamestationCond', sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  width: 100%;
  padding: 12px 10px;
  margin: 15px auto;
  border: 1px solid #fbd300;
  border-radius: 8px;
  background-color: #222;
  color: white;
  font-size: 14px;
}

input::placeholder{
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}

button{
  font-family: 'GamestationCond', sans-serif;
  width: 100% 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 2px;
  background-color: #fbd300;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  color: #111;
  text-transform: uppercase;
  transation: 0.3s;
  height: 40px;
}

button:hover {
  background-color: #ffe100;
 }

 p[style*="color:red"] {
  background: #440000;
  padding: 8px;
  border-raius: 6px;
  margin-bottom: 10px;
 }

 p a {
  color: #fbd300;
  text-decoration: none;
  font-wheight: bold;
  transition: 0.2s;
 }

 p a:hover {
  text-decoration: underline;
 }

 .login-box {
  background-color: #111;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
 }

 /* Estilo da logo dentro do login-box */
.login-box .logo {
  max-width: 200px;
  height: auto;
  margin: 0 auto 20px auto;
  display: block;
}

.login-box p:not(.slogan) {
  font-family: 'GamestationCond', sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.slogan{
  font-family: 'GamestationCond', sans-serif;
  font-size: 24px;
  color: #fbd300;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.register-link {
  font-family: 'GamestationCond', sans-serif;
  font-size: 20px !important;
  margin-top: 25px !important;
  color: #fbd300;
  text-align: center;
  letter-spacing: 1px;
}

.top-icon {
  height: 55px;      /* ou o tamanho que quiser */
  width: auto;
  vertical-align: middle;
  margin: 0 10px;
}

